@using (Html.BeginForm("Search", "Product", FormMethod.Post))
{

    <div class="Box_Search">
        <input type="text" name="txtSearch" class="txtSearch" placeholder="Tìm kiếm" />
        <button type="submit" name="btnSearch"  class="btnSearch"></button>
    </div>
}
