<div id="divAdRight" style="DISPLAY: none; POSITION: absolute; TOP: 0px">
  @Html.Raw(ViewBag.chuoiright)
</div>
<div id="divAdLeft" style="DISPLAY: none; POSITION: absolute; TOP: 0px">
    @Html.Raw(ViewBag.chuoileft)
</div>
