@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 768px) {
	#ContentNews #LeftNews{ width:98%; height:auto; float:left; margin:0px 5px}
	#RightNews{ display:none}
}
@media screen and (max-width: 488px) {
	#ContentNews #LeftNews .TearNews img{ height:60px; width:60px}
	#News h1{ font-size:13px}
}
