
<div id="RightNews">
    <div class="nVar_1">
        <span>Chuyên mục chính</span>
    </div>
    <div class="line_Bo"></div>
    <div class="ListMenu">
        <a href="/2/tin-tuc" title="">› Tin tức</a>
        <a href="/2/Tuyen-dung-inax" title="Tuyển dụng">› Tuyển dụng</a>
        <a href="/Khuyen-mai-toto" title="Khuyến mại thiết bị vệ sinh TOTO">› Bản tin khuyến mại</a>
        <a href="/2/Chinh-sach-dich-vu" title="Chính sách dịch vụ">› Chính sách và dịch vụ</a>

    </div>

</div>